body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(47, 79, 79);
    background: rgb(137, 223, 252);
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    background: #fff;
    text-align: center;
    padding: 2rem;
    border-radius: 7px;
    flex: 0 0 80%;
}
button {
    display: block;
    font-size: 1.8rem;
    text-transform: capitalize;
    margin: 1.5rem auto;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #fff;
    background: rgb(63, 173, 209);
    border: none;
}
button:hover {
    background: rgba(63, 173, 209, .8);
    cursor: pointer;
}
input[type=text] {
    font-size: 1.5rem;
    border: 3px solid rgb(61, 177, 223);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem;
    outline: none;
}
input[type=text]:focus {
    box-shadow: 0 0 10px rgb(61, 177, 223);
}
#messageOut {
    color: rgb(61, 177, 223);
}